.success {
    
    background-color: #c8e6c9;
    border-radius: 5px;
    
}

.warning {
    
    background-color: #ffcc80;
    border-radius: 5px;
    
}

.error {
    
    background-color: #ffcdd2;
    border-radius: 5px;
    
}

.chip {
    
    font-size:1em;
    
}

.tuto {
    
    padding: 5px;
    
}

.indent {
    
    display:block;
    margin: 5px 5px 5px 10px;
    padding:5px;
    background-color: rgba(0,0,0,0.08);
    border-radius: 5px;
    
}

.code {
    
    font-family: 'Ubuntu Mono';
    padding: 5px;
    
}

.pseudoCode {
    
    font-family: 'Ubuntu Mono';
    padding: 10px;
    width: 45%;
    border-right: 1px solid #dddddd;
    vertical-align: top;
    line-height: 1.5;
    
}

.result {
    
    background-color: rgba(0,0,0,1);
    color:white;
    border-radius: 5px;
    font-family: 'Ubuntu Mono';
    padding: 5px;
    
}


.codeMenu {
    
    background-color: #e0e0e0 ;
    margin:0px;
    min-height: 40px;
    line-height: 40px;
    padding: 10px;
    
}

.codeMenu:first-child {
    
    margin-top: 10px;
    
}

span {
    
    text-align: left;
    
}

.right-border {
    
    border-right: 1px solid #ccc;
    
}

.td-equal-6 {
    
    width: 16.66%;
    
}

pre {
    
    font-family: "Source Code Pro";
    font-size: 12px;
    display: block;
    margin: 2px;
    
}

.msgBtn {
    
    margin: 10px;
    text-transform: none;
    display: block;
    height:auto;
    text-align:left;
}

.msgBtn-right {
    
    margin: 10px;
    text-transform: none;
    display: block;
    height:auto;
    text-align:right;
}

.modal {
    width: 95%;
    height: 95%;
    margin: 0 2.5%;
}